html {
/* 	-webkit-font-smoothing: antialiased; */
}

/* Elements */
* {margin:0; padding:0;}
HTML {height:100%;}
BODY {height:100%; background:#fff; color:#000; font:15px "Helvetica Neue",Helvetica,Arial,sans-serif; min-width:1220px;}
TABLE {border-spacing:0; border-collapse:collapse;}
TD,TH {vertical-align:top; text-align:left;}
IMG,FIELDSET {border:none;}
IMG {max-width:100%; height:auto;}
A {text-decoration:none; color:#0173c1;}
A:hover {color:#013e83;}
P {line-height:1.5em;}
UL, UL LI {list-style-type:none;}
EM {font-style:normal;}

/* fonts */

@font-face {
    font-family: 'circeregular';
    src: url('fonts/circe-webfont.eot');
    src: url('fonts/circe-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/circe-webfont.woff2') format('woff2'),
         url('fonts/circe-webfont.woff') format('woff'),
         url('fonts/circe-webfont.ttf') format('truetype'),
         url('fonts/circe-webfont.svg#circeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe-lightregular';
    src: url('circe-light-webfont.eot');
    src: url('circe-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('circe-light-webfont.woff2') format('woff2'),
         url('circe-light-webfont.woff') format('woff'),
         url('circe-light-webfont.ttf') format('truetype'),
         url('circe-light-webfont.svg#circe-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

body {
	width: 100%;
	font: 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.2px;
	min-width: 100%;
}
h1{
	font-family: 'circe-lightregular', sans-serif;
	font-size: 100px;
	text-align: center;
	font-weight: 100;
}

.btn{
	min-width: 110px;
	height: 50px;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 4px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
.btn.color_1{
	border: 2px solid #000;
	color: #36424c;
}
.btn.color_2{
	border: 2px solid #fff;
}

.container-fluid{
	padding: 0;
	min-width: 1180px;
}

#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 15px;
	z-index: 1;
}

#header.color_1{
	color: #293948;
}
.header_shadow{
	width: 100%;
	height: 204px;
	position: absolute;
	top: 0;
	left: 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(80%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.header_top{
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	position: relative;
}
.menu_top{
	vertical-align: middle;
	text-align: left;
	height: 100%;
	line-height: 100px;
}
.menu_top-btn{
	display: block;
}
.menu_top-btn:hover{
	text-decoration: none;
}
.menu_top-ico{
	width: 26px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}
.menu_top-ico:before,
.menu_top-ico:after,
.menu_top-ico span{
	background: #fff;
	content: '';
	display: block;
	width: 26px;
	height: 2px;
	position: absolute;
	left: 0px;
	transition: none 0.5s ease 0.5s;
	transition-property: transform, top, bottom, left, opacity;
}
.menu_top-ico:before{
	top: 0px;
}
.menu_top-ico:after{
	bottom: 0px;
}
.menu_top-ico span{
	top: 50%;
	margin-top: -1px;
}
.menu_top-txt{
	color: #fff;
	font-size: 24px;
	margin-left: 10px;
}
.menu_top .list_item{
	display: none;
}
.header_top .logo{
	text-align: center;
	line-height: 100px;
}
.header_top .logo img{
	vertical-align: middle;
}

.header_top .lang-b{
	line-height: 100px;
	text-align: right;
}
.header_top .lang_wrap{
	display: inline-block;
	vertical-align: middle;
}
.header_top .lang_btn{
	width: 170px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	color: #3c2f00;
	text-decoration: none;
	line-height: 50px;
	border-radius: 4px;
	transition: background-color .25s;
	background: -moz-linear-gradient(top,  rgba(238,181,41,1) 49%, rgba(229,174,39,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(238,181,41,1)), color-stop(50%,rgba(229,174,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,181,41,1) 49%,rgba(229,174,39,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,181,41,1) 49%,rgba(229,174,39,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,181,41,1) 49%,rgba(229,174,39,1) 50%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,181,41,1) 49%,rgba(229,174,39,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb529', endColorstr='#e5ae27',GradientType=0 ); /* IE6-9 */
}
.header_top .lang_dropdown{
	min-width: 90px;
	height: 50px;
	border: 2px solid #fff;	
	border-radius: 4px;
	margin-bottom: 0;
	margin-left: 20px;
	display: inline-block;
}
.header_top .lang_lnk{
	line-height: 1;
	text-align: center;
	position: relative;
	display: block;
	padding: 14px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.header_top .lang_dropdown-menu{
	right: 0;
	left: auto;
	background: transparent;
	box-shadow: none;
	border: 2px solid #fff;
	top: 72px;
	min-width: 90px;
	line-height: 1;
	padding: 10px 14px;
	color: #fff;
}


/* Collage */

.collage{
	position: relative;
}
.collage.first{
	background: #fff 50% 50% no-repeat;
	background-size: cover;
	min-height: 1080px;
	padding: 0 14px;
}
.avangard_index .collage.first{
	background-image: url('../pic/pic_2.jpg');
}

.about_text-b .left{
	text-align: left;
}
.about_text-b .center{
	text-align: left;
}
.about_text-b .right{
	text-align: left;
}
.about_text{
	color: #29343e;
}
.avangard_index .collage.first .about_text{
	width: 350px;
	position: absolute;
	bottom: 500px;
	left: 150px;
	line-height: 30px;
	font-size: 20px;
}
.avangard_index .collage.first .about_text p{
	font-size: 20px;
	line-height: 30px;
}
/* Collage */
#footer{
	background: #1a2633;
	min-height: 340px;
	padding: 25px 14px 0;
}
#footer .logo{
	text-align: center;
}
.footer_menu{
	text-align: left;
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.footer_menu li{
	float: left;
	margin-left: 38px;
}
.footer_menu li:first-child{
	margin-left: 0;
}
.footer_menu li:before{
	content: "";
	width: 4px;
	height: 4px;
	background: #9ba7b1;
	display: inline-block;
	border-radius: 2px;
	vertical-align: middle;
	margin-right: 30px;
}
.footer_menu li:first-child:before{
	content: "";
	display: none;
}
.footer_menu a{
	color: #ffa905;
	font-size: 16px;
	line-height: 40px;
}
.footer_menu a:hover{
	text-decoration: none;
}

.footer_text-cont{
	text-align: left;
	padding: 40px 0;
	margin-left: -15px;
}
.footer_text-cont .ico{
	width: 32px;
	float: left;
}
.footer_text-cont p,
.footer_text-cont a{
	color: #9ba7b1;
}
.footer_text-cont p{
	font-size: 16px;
	margin: 0;
	line-height: 30px;
	margin-left: 42px;
}
.footer_autor{
	border-top: 1px solid rgba(255,255,255, 0.1);
	padding: 20px 0 30px;
	color: #49545d;
}
.footer_autor .copyright{
	font-size: 16px;
	text-align: left;
}
.footer_autor .autor{
	text-align: right;
}
.footer_autor .autor span{
	line-height: 22px;
	display: inline-block;
	vertical-align: sub;
}
.footer_autor .autor a{
	color: #49545d;
	font-size: 16px;
}



/* GENERAL */

.animate-block.type_1{
	vertical-align: middle;
	line-height: 650px;
	background: rgb(172,207,230); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(172,207,230,1) 34%, rgba(227,239,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(172,207,230,1)), color-stop(100%,rgba(227,239,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(172,207,230,1) 34%,rgba(227,239,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(172,207,230,1) 34%,rgba(227,239,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(172,207,230,1) 34%,rgba(227,239,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(172,207,230,1) 34%,rgba(227,239,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accfe6', endColorstr='#e3eff7',GradientType=0 ); /* IE6-9 */

}

/* /GENERAL */